
@model DiplomaSite3.Models.ThesisModel

@{
    ViewData["Title"] = Localizer["title"];
}

<div>
    <hr />
    <h2>@Localizer["title"]</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["thesisNameTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisDescriptionTxt"]
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisAssignedTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisDefenseTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefendDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisGradeTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisTagsTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisStatusTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            @Localizer["thesisFacultyTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree.Faculty)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisDepartmentTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree.Department)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisProgrammeTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree.Programme)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisDegreeTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree.Degree)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="DEdit" class="btn thesisbtn m-1" asp-route-id="@Model?.ThesisID">@Localizer["editBtn"]</a>
    <a asp-action="Index" class="btn navbtn m-1">@Localizer["backBtn"]</a>
</div>
