
@model DiplomaSite3.Models.UserModel

@{
    ViewData["Title"] = Localizer["title"];
}

<div>
    <hr />
    <h2>@Localizer["descriptionTxt"]</h2>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Localizer["userIdTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        
		<dt class="col-sm-2">
			@Localizer["userUsername"]
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UserName)
		</dd>
		<dt class="col-sm-2">
            @Localizer["userFullname"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["userType"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserType)
        </dd>
        <dt class="col-sm-2">
            @Localizer["userPhone"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn navbtn m-1">@Localizer["backBtn"]</a>
</div>
