@using Microsoft.AspNetCore.Identity;

@model DiplomaSite3.Models.AdminDiplomaVM
@inject UserManager<UserModel> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiplomaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.DefendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.DefendDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.TeacherID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaModel!.TeacherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaModel!.StudentID)
        </dt>
        <dd class="col-sm-10">
            @if (Model.DiplomaModel!.StudentID == null)
            {
                <form asp-controller="Diplomas" asp-action="RequestDiploma" method="post">
                    <input type="hidden" asp-for="@Model.DiplomaModel.DiplomaID" value="@Model.DiplomaModel.DiplomaID" />
                    <input type="hidden" asp-for="@Model.DiplomaModel.StudentID" value="UserManager.GetUserId(User)" />
                    <input type="submit" value="Request Diploma" class="btn btnreq mx-1" />
                </form>
        }else
        {

                @Html.DisplayFor(model => model.DiplomaModel!.StudentID)

            }
        </dd>
    </dl>
</div>
<div>
    @if(User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.DiplomaModel.DiplomaID">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
