
@using DiplomaSite3.Enums
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager

@model IEnumerable<DiplomaSite3.Models.AdminDiplomaVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefendDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiplomaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiplomaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiplomaID">Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
