
@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link  btn navbtn mx-1" asp-controller="Home" asp-action="Index">@Localizer["homeBtn"]</a>
    </li>
   
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="nav-item">
            <a class="nav-link  btn navbtn mx-1" asp-controller="Thesis" asp-action="Index">@Localizer["diplomasBtn"]</a>
        </li>

        @if (User.IsInRole("Student"))
        {
            <a class="nav-link  btn navbtn mx-1" asp-controller="Thesis" asp-action="MyThesis">@Localizer["studentBtn"]</a>
        }

        @if (User.IsInRole("Teacher"))
        {
            <a class="nav-link  btn navbtn mx-1" asp-controller="TeacherTheses" asp-action="Index">@Localizer["teacherBtn"] </a>
        }
        
        @if (User.IsInRole("Admin"))
        {
            <a class="nav-link  btn navbtn mx-1" asp-controller="AdminPanel" asp-action="Index">@Localizer["adminBtn"]</a>
        }

    }
    else
    {

        <li class="nav-item">
            <a class="nav-link  btn navbtn mx-1" asp-controller="Thesis" asp-action="Index">@Localizer["diplomasBtn"]</a>
        </li>
    }
</ul>
