
@model AdminThesisVM

@{
    ViewData["Title"] = Localizer["title"];
    var controler = "";
}

<h1>@Localizer["titleTxt"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
    
        <form asp-action="Create" asp-controller="TeacherTheses" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThesisModel!.Thesis.Title" class="control-label">@Localizer["thesisNameTxt"]</label>
                <input asp-for="ThesisModel!.Thesis.Title" class="form-control" />
                <span asp-validation-for="ThesisModel!.Thesis.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThesisModel!.Thesis.Degree.FacultyId" class="control-label">@Localizer["thesisFacultyTxt"]</label>
                <select asp-for="ThesisModel!.Thesis.Degree.FacultyId" class="form-control" asp-items=ViewBag.FacultyList> </select>
                <span asp-validation-for="ThesisModel!.Thesis.Degree.FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThesisModel!.Thesis.Degree.DepartmentId" class="control-label">@Localizer["thesisDepartmentTxt"]</label>
                <select asp-for="ThesisModel!.Thesis.Degree.DepartmentId" class="form-control" asp-items=ViewBag.DepartmentList> </select>
                <span asp-validation-for="ThesisModel!.Thesis.Degree.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThesisModel!.Thesis.Degree.ProgrammeId" class="control-label">@Localizer["thesisProgrammeTxt"]</label>
                <select asp-for="ThesisModel!.Thesis.Degree.ProgrammeId" class="form-control" asp-items=ViewBag.ProgrammeList> </select>
                <span asp-validation-for="ThesisModel!.Thesis.Degree.ProgrammeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThesisModel!.Thesis.Degree.Degree" class="control-label">@Localizer["thesisDegreeTxt"]</label>
                <select asp-for="ThesisModel!.Thesis.Degree.Degree" class="form-control" asp-items="Html.GetEnumSelectList<DegreeEnum>()"> </select>
                <span asp-validation-for="ThesisModel!.Thesis.Degree.Degree" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ThesisModel!.Thesis.Description" class="control-label">@Localizer["thesisDescriptionTxt"]</label>
                <textarea asp-for="ThesisModel!.Thesis.Description" class="form-control" rows="10" resize="none"> </textarea>
                <span asp-validation-for="ThesisModel!.Thesis.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden asp-for="ThesisModel!.Thesis.Status" class="control-label">@Localizer["thesisStatusTxt"]</label>
                <input hidden asp-for="ThesisModel!.Thesis.Status" class="form-control" value="@StatusEnum.Posted"></input>
                <span hidden asp-validation-for="ThesisModel!.Thesis.Status" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="@Localizer["createBtn"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn thesisbtn m-1" asp-action="Index">@Localizer["backBtn"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
