
@model AdminThesisVM

@inject UserManager<UserModel> UserManager

@{
    ViewData["Title"] = Localizer["title"];
}

<h1>@Localizer["title"]</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["thesisNameTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.Title)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["thesisDescriptionTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.Description)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisAssignedTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.AssignDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["thesisDefenseTxt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.DefendDate)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["thesisGradeTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["thesisTagsTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["thesisStatusTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Thesis.Status)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["thesisTeacherTxt"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisModel.Teacher.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["thesisStudentTxt"]
        </dt>
        <dd class="col-sm-10">
            @if (Model.ThesisModel.Thesis.Status == StatusEnum.Posted && Model.ThesisModel.StudentID == null)
            {
                
            }
            else
            {
                @Html.DisplayFor(model => model.ThesisModel.Student.FullName)
            }
        </dd>
    </dl>
</div>
<div>
	<a class="btn thesisbtn m-1" asp-action="Index">@Localizer["backBtn"]</a>

    @if (User.IsInRole("Teacher"))
    {
        var classStyle = "btn thesisbtn m-1";
        if (Model.ThesisModel.Thesis.Status == StatusEnum.Archived)
            classStyle += " disabled";

        <a class=@classStyle asp-action="Edit" asp-controller="Thesis" asp-route-id="@Model.ThesisModel.ThesisID">@Localizer["editBtn"]</a>
    }
    
    <form asp-controller="Thesis" asp-action="DownloadAsDoc" method="post">
        <input type="hidden" asp-for="@Model.ThesisModel.ThesisID" name="ThesisID" value="@Model.ThesisModel.ThesisID" />
        <input type="submit" value="@Localizer["downloadBtn"]" class="btn btnreq m-1" />
    </form>

</div>
