
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model TeacherThesesVM

@{
    ViewData["Title"] = Localizer["title"];
}

<h1>@Localizer["title"]</h1>

<p>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
    {
        <a class="btn thesisbtn m-1" asp-controller="TeacherTheses" asp-action="Create">@Localizer["createBtn"]</a>
    }
</p>

<form asp-controller="TeacherTheses" asp-action="Index" method="get">
    <div class="float-start m-1">
        @Localizer["thesisNameTxt"]: <input type="text" asp-for="SearchString" />
    </div>
    
    <div class="float-start m-1">
        @Localizer["thesisStatusTxt"]:
        <select asp-for="SearchStatus" asp-items="Html.GetEnumSelectList<StatusEnum>()">
        <option>Any</option>
        </select>
    </div>
    
    <div class="float-end m-1">
        <input class="btn btnreq" type="submit" value="@Localizer["filterBtn"]" />
    </div>
</form>

<table class="table">
    
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Localizer["thesisNameTxt"]
            </th>
            <th>
                @Localizer["thesisDefenseTxt"]
            </th>
            <th>
                @Localizer["thesisGradeTxt"]
            </th>
            <th>
                @Localizer["thesisStatusTxt"]
            </th>
            <th>
                @Localizer["thesisStudentTxt"]
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.ThesisList!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Thesis.Title)
            </td>
            <td>
                @if (item.Thesis.DefendDate != null)
                {
                    @Html.DisplayFor(modelItem => item.Thesis.DefendDate)
                }
                else
                {
                    if (item.Thesis.Status == StatusEnum.Done)
                    {
                            <a class="btn thesisbtn m-1" asp-controller="TeacherTheses" asp-action="SetDefense" asp-route-id="@item.ThesisID" method="get">@Localizer["setDefenseBtn"]</a>
                    }
                }
            </td>
            <td>
                @if (item.Thesis.Grade != null)
                {
                        @Html.DisplayFor(modelItem => item.Thesis.Grade)
                }
                else 
                {
                   
                }
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Thesis.Status)
            </td>
            <td>
            @if (item.Student == null && item.Thesis.Status == StatusEnum.Posted)
            {
			    <a class="btn thesisbtn m-1" asp-controller="TeacherTheses" asp-action="ViewRequests" asp-route-id="@item.ThesisID"> @Localizer["viewRequestsBtn"]</a>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Student!.FullName)
            }
			</td>
            <td>
			@if (SignInManager.IsSignedIn(User))
            {
                if(User.IsInRole("Teacher"))
                {
                    <a class="btn thesisbtn m-1" asp-action="Details" asp-controller="TeacherTheses" asp-route-id="@item.ThesisID">@Localizer["detailsBtn"]</a>
                }
            } 
            </td>
           
            </tr>
        }
    </tbody>

</table>
