
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model TeacherThesesVM

@{
    ViewData["Title"] = Localizer["title"];
}

<h1>@Localizer["title"]</h1>

<p>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
    {
        <a class="btn thesisbtn m-1" asp-controller="Thesis" asp-action="Create">@Localizer["createBtn"]</a>
    }
</p>

<form asp-controller="TeacherTheses" asp-action="Index" method="get">
    <p>
        @Localizer["thesisNameTxt"]: <input type="text" asp-for="SearchString" />

        @Localizer["thesisStatusTxt"]: <select asp-for="SearchStatus" asp-items="Html.GetEnumSelectList<StatusEnum>()">
        <option>Any</option>
    </select>
    </p>
    <input type="submit" value="@Localizer["filterBtn"]" />
</form>

<table class="table">
    
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Localizer["thesisNameTxt"]
            </th>
            <th>
                @Localizer["thesisDefenseTxt"]
            </th>
            <th>
                @Localizer["thesisGradeTxt"]
            </th>
            <th>
                @Localizer["thesisTagsTxt"]
            </th>
            <th>
                @Localizer["thesisStatusTxt"]
            </th>
            <th>
                @Localizer["thesisStudentTxt"]
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.ThesisList!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Thesis.Title)
            </td>
            <td>
                @if (item.Thesis.DefendDate != null)
                {
                    @Html.DisplayFor(modelItem => item.Thesis.DefendDate)
                }
                else
                {
                    if (item.Thesis.Status == StatusEnum.Done)
                    {
                        <a asp-action="SetDefense" asp-route-id="@item.ThesisID" method="post">@Localizer["setDefenseBtn"]</a>
                    }
                }
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Thesis.Grade)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Thesis.Tags)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Thesis.Status)
            </td>
            <td>
            @if (item.Student == null && item.Thesis.Status == StatusEnum.Posted)
            {
                    <a class="btn thesisbtn m-1" asp-action="ViewRequests" asp-controller="TeacherTheses" asp-route-id="@item.ThesisID"> @Localizer["viewRequestsBtn"]</a>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Student!.FullName)
            }
			</td>
            <td>
			@if (SignInManager.IsSignedIn(User))
            {
                if(User.IsInRole("Teacher"))
                {
                    <a class="btn thesisbtn m-1" asp-action="Details" asp-controller="Thesis" asp-route-id="@item.ThesisID">@Localizer["detailsBtn"]</a>
                }
            } 
            </td>
           
            </tr>
        }
    </tbody>

</table>
