
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model RequestedThesesVM

@{
    ViewData["Title"] = Localizer["title"];
}

 <div class="float-start">
    <div class="float-start m-1">
        <h2>@Localizer["thesisTxt"]</h2>
    </div>
        
    <div class="float-end">
        <a class="btn thesisbtn m-1" asp-action="TeacherTheses">@Localizer["backBtn"]</a>
		</div>
    <hr/>
</div>

<div style="clear:both">

<dl class="row">
    <dt class="col-sm-2">
        @Localizer["thesisNameTxt"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RequestedThesis.Title)
    </dd>
    <dt class="col-sm-2">
        @Localizer["thesisDescriptionTxt"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RequestedThesis.Description)
    </dd>

    <dt class="col-sm-2">
        @Localizer["thesisFacultyTxt"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RequestedThesis.Degree.Faculty.FacultyName)
    </dd>
    <dt class="col-sm-2">
        @Localizer["thesisDepartmentTxt"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RequestedThesis.Degree.Department.DepartmentName)
    </dd>
    <dt class="col-sm-2">
        @Localizer["thesisProgrammeTxt"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RequestedThesis.Degree.Programme.ProgrammeName)
    </dd>
    <dt class="col-sm-2">
        @Localizer["thesisDegreeTxt"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RequestedThesis.Degree.Degree)
    </dd>
</dl>

</div>
<br />

<div style="clear:both">
	<hr />
<form asp-controller="TeacherTheses" asp-action="ViewRequests" method="get">
    <div class="float-start m-1">
        <input type="hidden" asp-for=@Model.RequestedThesis.ThesisID value="@Model.RequestedThesis.ThesisID">
    </div>

    <div class="float-start m-1">
        @Localizer["studentTxt"]: <input type="text" asp-for="SearchStudent" />
    </div>

    <div class="float-end m-1">
        <input class="btn btnreq" type="submit" value=@Localizer["filterBtn"] />
    </div>
</form> 
  
    <h1>@Localizer["requestedTxt"]</h1>

    <table class="table">
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Localizer["facultyNumberTxt"]
            </th>
            <th>
                    @Localizer["studentNameTxt"]
            </th>
            <th>
                @Localizer["studentEmailTxt"]
            </th>
            <th>
                @Localizer["studentPhoneTxt"]
            </th>
            <th>
                @*assign buttons*@
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.StudentsList!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyNumber)
            </td>
            <td>    
                    @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Teacher"))
                    {
                    <form asp-controller="TeacherTheses" asp-action="GiveThesis" method="post">
                        <input type="hidden" asp-for="@Model.RequestedThesis.ThesisID" name="ThesisID" value=@Model.RequestedThesis.ThesisID />
                        <input type="hidden" asp-for="@Model.GivingTeacherId" name="TeacherID" value=@UserManager.GetUserId(User) />
                        <input type="hidden" asp-for="@Model.GivenStudentId" name="StudentID" value=@item.Id/>
						<input type="submit" class="btn btnreq mx-1" value="@Localizer["giveThesisBtn"]" />
                    </form>
                    }
                }
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>