@using Microsoft.AspNetCore.Identity;

@model DiplomaSite3.Models.TeacherDiplomasVM
@inject UserManager<UserModel> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiplomaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].DefendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].DefendDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].TeacherID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diplomas![0].TeacherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diplomas![0].StudentID)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Diplomas![0].StudentID)
        </dd>
    </dl>
</div>
<div>
    @if(User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Diplomas![0].DiplomaID">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
