
@using DiplomaSite3.Enums
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model TeacherDiplomasVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<form asp-controller="TeacherDiploma" asp-action="Index" method="get">
    <p>
    Title: <input type="text" asp-for="SearchString"/>
    
    Status: <select asp-for="SearchStatus" asp-items="Html.GetEnumSelectList<StatusEnum>()">
        <option>Any</option>
    </select>
    </p>
    <input type="submit" value="Filter" />
</form>

<table class="table">
    
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Html.DisplayNameFor(model => model.Diplomas![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplomas![0].DefendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplomas![0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplomas![0].Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplomas![0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diplomas![0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.Diplomas!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @if (item.DefendDate != null)
                {
                        @Html.DisplayFor(modelItem => item.DefendDate)
                    }
                    else
                    {
                        if(item.Status == StatusEnum.Done)
                        {
                            <a asp-action="SetDefense" asp-route-id="@item.DiplomaID" method="post"></a>
                        }
                        else
                        {
                            
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student!.FullName)
            </td>
			@if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Teacher"))
                {
                    <td>
                    <a asp-action="Edit" asp-controller="TeacherDiploma" asp-route-id="@item.DiplomaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DiplomaID">Details</a>
                    </td>
                }
            }
            else
            {
                <td>
                    <a></a>
                </td>
            }
            </tr>
        }
    </tbody>

</table>
